<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Web App</title>
    </head>
    <body>
        
        <div><h1 class="title">Transformation Process</h1></div>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="/category/Classical">Classical</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/category/Realist">Realist</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/category/Romantic">Romantic</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/category/Impressionist">Impressionist</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/category/Modern">Modern</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/category/Misc">Misc</a>
              </li>
            </ul>

          </div>
        </nav>
        <div>

            {% if message %}
            <h1 class="display-4 message">{{message}}</h1>
            {% endif %}
            {% for image in images %}
            <div class="rowDiv">
                <div class="imageDiv">
                    <h3 class="imageLabel lead">Content Image</h3>
                    <img src="{{image['contentImageURI']}}" loading="lazy" class="image">
                </div>
                <div class="imageDiv">
                    <h3 class="imageLabel lead">Style Image</h3>
                    <img src="{{image['styleImageURI']}}" loading="lazy" class="image">
                </div>
                <div class="imageDiv">
                  <h3 class="imageLabel lead">Stylized Image</h3>
                  <div class="stylizedImg">
                    <img class="myImg" src="{{image['stylizedImageURI']}}" loading="lazy" height="384" width="384" style="position: relative;">
                   <!---<img class="hide deletePic" src="../static/images/redx.png" alt="delete" onclick="deleteRow(event, `{{image['_id']}}`)">-->
                  </div>
              </div>
              <form action="/category/{{image['style']}}">
                <button type="submit" class="btn btn-primary">Style: {{image['style']}}</button>
              </form>
              <form action="../delete/{{image['_id']}}" method="GET">
                <button type="submit" name="delete">Delete This</button>
              </form>
            </div>
            {% endfor %}
        </div>
        
        <!--- FOOTER STARTS-->
        <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Team 5 - Content and style images are uploaded to the Machine Learning client and 
                    converted into one resultant image. For this, Tensorflow's ML package is used. The Web App works as a gallery 
                    of all images created as well as content and style images used for the resultant images.
                    </p>
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                    <li><a href="https://github.com/software-students-fall2022/final-project-project5-team5">Github</a></li>
                  </ul>
                </div>
              </div>
              <hr>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
               Team 5.
                  </p>
                </div>
              </div>
            </div>
        </footer>
        <!--- FOOTER ENDS-->

        <script>
          async function deleteRow(event, id) {
            console.log("clicked", id);
            const url = `http://127.0.0.1:4000/delete/`;
            const response = await fetch(url + id, {
              method: "POST",
            });
            if (response.ok) {
              const resData =response;
              console.log(resData);
              event.path[3].remove(); // remove it from the page
            } else {
              console.log("error happened!");
            }
          }
        </script>
    </body>
</html>