<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css"/>
        <title>Upload Images</title>
    </head>
    <body>
        <h1 class="display-3 title">Upload Images</h1>
        <br>
        <form method="POST" id="uploadForm" action="{{ url_for('upload')}}">
            <div class="uploadDiv">
                <div class="containerDiv">
                    <p class="display-6">Content Image</p>
                        <img id="contentImg" src="{{ contentImageURI }}" height="500" width="500">


                    <input id="contentImageInput" type="file" accept="image/jpeg, image/png, image/jpg, image/bmp"/>
                    {% if contentImageURI %}
                        <input id="contentImageURI" value="{{ contentImageURI }}" type="text" name="contentImageURI">
                    {% else %}
                        <input id="contentImageURI" type="text" name="contentImageURI">
                    {% endif %}
                    <button onclick="uploadContentImage()" class="btn btn-primary uploadButton" type="button">Upload Content Image</button>
                </div>
                <div class="containerDiv">
                    <p class="display-6">Style Image</p>
                    {% if styleImageURI %}
                        <img id="styleImg" src="{{ styleImageURI }}" height="500" width="500">
                    <input id="styleImageInput" type="file" accept="image/jpeg, image/png, image/jpg, image/bmp"/>
                    {% if styleImageURI %}
                        <input id="styleImageURI" type="text" value="{{ styleImageURI }}" name="styleImageURI">
                    {% else %}
                        <input id="styleImageURI" type="text" name="styleImageURI">
                    {% endif %}
                    <button onclick="uploadStyleImage()" class="btn btn-primary uploadButton" type="button">Upload Style Image</button>
                </div>
                <div class="containerDiv">
                    <p class="display-6">Choose a Style</p>
                    <div class="list-group stylesDiv">
                        <button type="button" id="classical" class="list-group-item list-group-item-action styles lead">Classical</button>
                        <button type="button" id="realist" class="list-group-item list-group-item-action styles lead">Realist</button>
                        <button type="button" id="romantic" class="list-group-item list-group-item-action styles lead">Romantic</button>
                        <button type="button" id="impressionist" class="list-group-item list-group-item-action styles lead">Impressionist</button>
                        <button type="button" id="modern" class="list-group-item list-group-item-action styles lead">Modern</button>
                        <button type="button" id="misc" class="list-group-item list-group-item-action styles lead">Misc</button>
                      </div>
                      <input id="imageStyle" type="text" value="" name="style">
                </div>
            </div>
            <div class="spin hidden" id="spinDiv"></div>
            {% if error %}
                <p class="text-danger lead error">Error: {{error}}</p>
                <button onclick="getImages()" type="button" class="btn btn-primary generateButton" id="generateImg">Generate Image</button>
            {% else %}
                <button onclick="getImages()" type="button" class="btn btn-primary generateButtonBefore" id="generateImg">Generate Image</button>
            {% endif %}
        </form>
        <a href="{{ url_for('home')}}">
            <button class="btn btn-primary uploadBack">Back</button>
        </a>
        <!--- FOOTER STARTS-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Team 5</h6>
                    <p class="text-justify">
                        Sagynbek Talgatuly <br>
                        Amaan Khwaja <br>
                        Manny Soto Ruiz <br>
                        Kedan Zha <br>
                        Wuji Cao <br>
                        Kevin Gong <br>
                    </p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                    <li><a href="https://github.com/software-students-fall2022/final-project-project5-team5">Github</a></li>
                    </ul>
                </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
                Team 5.
                    </p>
                </div>
                </div>
            </div>
        </footer>
        <!--- FOOTER ENDS-->
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </body>
</html>