<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>URL Images</title>
    </head>
    <body>
        <h1 class="display-3 title">Enter Image URLs</h1>
        <form method="POST" action="{{ url_for('url')}}">
            <div class="form-group">
                <label for="contentImageURL">Enter Content Image URL</label>
                <input type="text" class="form-control" id="contentImageURL" placeholder="Enter Content Image URL" name="contentImageURL">
            </div>
            <div class="form-group">
                <label for="styleImageURL">Enter Style Image URL</label>
                <input type="text" class="form-control" id="styleImageURL" placeholder="Enter Style Image URL" name="styleImageURL">
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label for="styleSelect">Select a style</label>
                <select class="form-select" id="styleSelect" aria-label="Default select example", name="style">
                    <option value="" selected>Please select a style...</option>
                    <option value="classical">Classical</option>
                    <option value="realistic">Realist</option>
                    <option value="romantic">Romantic</option>
                    <option value="impressionist">Impressionist</option>
                    <option value="modern">Modern</option>
                    <option value="misc">Misc</option>
                </select>
            </div>
            {% if error %}
                <p class="text-danger movecloser">{{error}}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary movedown" id="generateImage">Generate Image</button>
        </form>
        <a href="{{ url_for('home')}}">
            <button class="btn btn-primary back">Back</button>
        </a>

        <div class="spin hidden" id="spinDiv"></div>

        {% if stylizedImageURI %}
        <h5 id="totTime"></h5>
        <div class="results moveup">
            <div class="imageContainer">
                <h3 class="imageLabel lead">Content Image</h3>
                <img src="{{ contentImageURI }}" width="500" height="500">
            </div>
            <div class="imageContainer">
                <h3 class="imageLabel lead">Style Image</h3>
                <img src="{{ styleImageURI }}" width="500" height="500">
            </div>
            <div class="imageContainer">
                <h3 class="imageLabel lead">Stylized Image</h3>
                <img src="{{ stylizedImageURI }}" width="500" height="500"> 
            </div>
        </div>
        <div class="miscDiv" style="margin-top:30px;">
            <a href="{{ stylizedImageURI }}" download="stylizedImage">
                <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg> Download Stylized Image</button>   
            </a>
        </div>
        {% endif %}

        <script>
            function timeCompleted() {
                let currentTime = JSON.parse(localStorage.getItem("counter"));
                currentTime += 1;
                localStorage.setItem("counter", JSON.stringify(currentTime));
            }

            // start timer when generator button clicked
            document.getElementById("generateImage").addEventListener("click", function() {
                let counter = 0;
                localStorage.setItem("counter", JSON.stringify(counter));
                document.getElementById("spinDiv").classList.remove("hidden");
                let start = setInterval(timeCompleted, 1000);
            });

            // display total time
            let currentTime = JSON.parse(localStorage.getItem("counter"));
            if (currentTime > 60) {
                let mins = Math.floor(currentTime / 60);
                let seconds = time - mins * 60;
                document.getElementById("totTime").innerText = `Total time to create stylized image: ${mins} mins ${seconds} secs`;
            } else {
                document.getElementById("totTime").innerText = `Total time to create stylized image: ${currentTime} seconds`;
            }
        </script>
    </body>
</html>