name: Continuous Development

on:
  pull_request:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./web-app
          file: ./web-app/Dockerfile
          push: true
          tags: zackdan/project5-team5-deploy:1

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./ml-client
          file: ./ml-client/Dockerfile
          push: true
          tags: zackdan/project5-team5-deploy:2
  deploy-ml:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: DigitalOcean App Platform Deployment
        uses: digitalocean/app_action@main
        with:
            app_name: transformationprocess
            token: ${{ secrets.DIGITALOCEAN_TOKEN }}
  deploy-wb:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: DigitalOcean App Platform Deployment
        uses: digitalocean/app_action@main
        with:
            app_name: gallaryweb
            token: ${{ secrets.DIGITALOCEAN_TOKEN }}          